/**
 * Generic Contact Form Style
 * Kodkod Templates
 *
 * Copyright © 2018 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

div.kodkod.form.generic {
	label {
		display: block;

		span {
			display: block;
		}
	}

	div.controls {
		display: block;
	}
}
